<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DriverToUse" value="Firefox" />
    <add key="TargetUrl" value="http://demo.testfire.net/" />
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
  </appSettings>
</configuration>